@model JNGH_IDENDITY.Models.ResetPasswordModel
@{
    ViewData["Title"] = "重置密码";
}

<h1>重置密码</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div class="form-group">
                <input asp-for="Code" type="hidden" />
                <input type="hidden" asp-for="UserId" value=@ViewBag.userId />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input readonly="readonly" asp-for="UserName" value=@ViewBag.userName class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="UserList" class="btn btn-default">取消</a>
                <input type="submit" value="确定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
