@model JNGH_IDENDITY.Models.TopNavBarInfo
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = null;
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="~/Images/profile_small.jpg" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">@Model.UserName<b class="caret"></b></span>
            <span class="text-muted text-xs block">@Model.DeptName</span>
            <span class="text-muted text-xs block">@Model.PositionName</span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="#">个人信息</a></li>
            <li><a class="dropdown-item" href="#">通讯录</a></li>
            <li class="dropdown-divider"></li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout">
                    <button type="submit" class="dropdown-item">注销 </button>
                </form>
            </li>
        </ul>
        <!--
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="/Authority/UserClaimList">个人详情</a></li>
        </ul>
    -->
    </div>
}
else
{
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="~/Images/person_small.png" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">未登录</span>
        </a>
    </div>
}